$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.15rem;
$h5-font-size: 1rem;
$h6-font-size: .75rem;

$gray-600: #efefef;

@import "Bootstrap/bootstrap.scss";

.btn-circle {
  display: flex !important;
  border: 1px solid transparent;
  border-radius: 2rem !important;
  max-width: 2.4rem;
  width: 2.4rem;
  min-width: 2.4rem;
  max-height: 2.4rem;
  height: 2.4rem;
  min-height: 2.4rem;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
  margin: 0;
  padding: 0 !important;
  white-space: nowrap !important;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  // overflow: hidden;
}
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.58);
}
$color-profils:  #F6C8D0, #BAE2DE, #FBC085, #DBE0DC, #c0dbac, #AED0EF, #FCD35B, #8DD1E4, #E1E6E1, #FFEC7B, #A9D66C,#6C845D,#AFB1DF,#F8DB83,#ADD99E;

$i: 1;
@while $i < 16 {
  .color-profile-#{$i},  {
    background: nth($color-profils, $i);
     .isTested .leftover{
       background: nth($color-profils, $i);
     }
     .isAddedToList h5, .isAddedToList h6  {
       color: nth($color-profils, $i);
     }
  }
  $i: $i + 1;
}

.isTested {
  position: relative;
  &:after{
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.5rem;
    left: 0.8rem;
    background: #bae2de;
    -webkit-animation: mymove .2s 1; /* Safari 4.0 - 8.0 */
    animation: mymove .2s 1;
    -webkit-animation-timing-function: ease-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes mymove {
  0%   {
    transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes mymove {
  0%   {
    transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 500;
  padding: 5px 0;
  .navbar-middle{
    text-align: center;
    padding: 0;
    height: 36px;
  }
  .bavbar-brand h1 {
    font-family: 'Sumana', serif;
    margin: 0;
    line-height: 30px;
    font-size: 22px;
  }
}
// recipeContainer //
.recipeContainer{
  padding-top: 6vh;
  padding-bottom: 12vh;
  // overflow: auto;
  }
  .recipe-cards {
    outline: none;
    .ingridiens:not(:last-child) {
      &:after {
          content:" •";
      }
    }
  }

/*:::::SAMMENLIGN-SIDE:::::*/
.foodplan-build-list{
  height: 1000px;

  padding-bottom: 15vh;
  &:empty {
    display: none;
  }
}

.carousel{
  position: absolute;
  top: 16vh;
  left: 0;
  right: 0;
  height: 30%; /*ikke vh da den i chrome er uden urlbar*/
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 100;
}
.carousel--next-prev {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background:#efefef;
}

.keypadwrapper {
  position: fixed;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 200;
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s;
  transform: translateY(100%);
  &.up {
    opacity: 1;
    transform: translateY(0);
  }
}


.plate {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 8px solid #e6e3e3;
  background: #fff;
  box-shadow: 4px 5px 3px rgba(51, 51, 51, 0.12);
}
