$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.1rem;
$h4-font-size: 1.15rem;
$h5-font-size: 0.75rem;
$h6-font-size: .75rem;

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #efefef;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #FD6D85;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #70a6af;

$theme-colors: (
  primary: $pink,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-500
);

@import "Bootstrap/bootstrap.scss";

.btn-circle {
  display: flex !important;
  border: 1px solid transparent;
  border-radius: 1rem !important;
  max-width: 2rem;
  width: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  height: 2rem;
  min-height: 2rem;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
  margin: 0;
  padding: 0 !important;
  white-space: nowrap !important;
  span{
    font-size: 1.5rem;
  }
}
h5.btn-circle  {
  font-size: 0.75rem;
}
.btn-primary{
  color: $white;
}
.btn-secondary {
  color: rgba(0,0,0,0.45);
}
.icon_check{
  font-size: 1.1rem!important;
  margin-bottom: -0.15rem;
}
.slick-slide{
  outline: none;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  // overflow: hidden;
}
* {
  box-sizing: border-box;
}


h1,h2,h3,h4,h6,p {
  // font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Rubik Mono One', sans-serif;
  // font-family: 'Rubik', sans-serif;
  color: rgba(0, 0, 0, 0.58);
}
h3 {
      font-weight: 600;
}
h5 {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.45);
}
$color-profils:  #F6C8D0, #BAE2DE, #FBC085, #DBE0DC, #c0dbac, #AED0EF, #FCD35B, #8DD1E4, #E1E6E1, #FFEC7B, #A9D66C,#6C845D,#AFB1DF,#F8DB83,#ADD99E;

$i: 1;
@while $i < 16 {
  .color-profile-#{$i},  {
    background: nth($color-profils, $i);
    .icon_star.text-secondary{
      color: nth($color-profils, $i)!important;
      filter: brightness(85%);
    }
    .btn-secondary{
      background: nth($color-profils, $i)!important;
      filter: brightness(85%);
    }
  }
  $i: $i + 1;
}

.isTested {
  position: relative;
  &:after{
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.5rem;
    right: 0;
    background: $pink;
    -webkit-animation: mymove .2s 1; /* Safari 4.0 - 8.0 */
    animation: mymove .2s 1;
    -webkit-animation-timing-function: ease-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes mymove {
  0%   {
    transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes mymove {
  0%   {
    transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 500;
  padding: 5px 0;
  .navbar-middle{
    text-align: center;
    padding: 0;
    height: 36px;
  }
  .bavbar-brand h1 {
    font-family: 'Sumana', serif;
    margin: 0;
    line-height: 30px;
    font-size: 22px;
  }
}
// recipeContainer //
.previewRecipe {
  border-style: dashed!important;
  background: #fbfbfb;
}
.recipeContainer{
  padding-top: 6vh;
  // overflow: auto;
  }
  .recipe-cards {
    outline: none;
    .recipe-cards--card {
        position: relative;
        &:before{
          content: '';
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 50%;
          right: 0;
          bottom: 0;
          margin-left: -50px;
          height: 100px;
          width: 100px;
        }
      }
    .ingridiens:not(:last-child) {
      &:after {
          content:" •";
      }
    }
  }

.recipeFull {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: auto;
}
/*:::::SAMMENLIGN-SIDE:::::*/
.foodplan-build-list{
  transition: transform 0.2s;
  padding-bottom: 15vh;
  &:empty {
    display: none;
  }
  .checked {
    background: $gray-100!important;
       h5,h6 {
        opacity: 0.6;
       }
      // .btn-secondary{
      //   background: $gray-100!important;
      // }
  }
}

.carousel{
  overflow-x: hidden;
  overflow-y: hidden;
}
.carousel--next-prev {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7vh;
  background:#efefef;
}


.keypadwrapper {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 200;

  .amountInput{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 201;
        transition: opacity 0.1s;
    &.show {
      opacity: 1;
    }
    .highlight{
      background: rgba(254, 110, 134, 0.29);
    }
    .AmountInput--Line{
      height: 28px;
      width: 2px;
      background: $pink;
      animation: blinker 1s cubic-bezier(1, 0, 0, 1) infinite;
    }
    @keyframes blinker {
      50% { opacity: 0; }
    }
  }
  .keypad{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 202;
    transition: transform 0.2s ease-out;
    transform: translateY(100%);
    &.up {
      transform: translateY(0);
    }
  }
}


.plate {
  width: 85px;
  height: 85px;
  border-radius: 43px;
  border: 8px solid #e6e3e3;
  background: #fff;
}
.flipH {
  moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.rotate90{
  moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.arrowdown{
  width: 8px;
}
.iconPlusMinus{
  position: relative;
  .icon_plus,.icon_minus-06{
    position: absolute;
    font-size: 1rem;
  }
  .icon_plus{
    top: 0.1rem;
  }
  .icon_minus-06{
    bottom: 0.1rem;
  }
}
