$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: .75rem;
@import "Bootstrap/bootstrap.scss";


html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.58);
}
$color-profils:  #F6C8D0, #BAE2DE, #FBC085, #DBE0DC, #c0dbac;

$i: 1;
@while $i < 6 {
  .color-profile-#{$i},  {
    background: nth($color-profils, $i);
     .isTested .leftover{
       background: nth($color-profils, $i);
     }
     .isAddedToList h3 {
       color: nth($color-profils, $i);
     }
  }
  $i: $i + 1;
}

.isTested .leftover{
  display: inline-block;
  background: gold;
  height: 28px;
  width: 38px;
  border-radius: 14px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 500;
  padding: 5px 0;
  .navbar-middle{
    text-align: center;
    padding: 0;
    height: 36px;
  }
  .bavbar-brand h1 {
    font-family: 'Sumana', serif;
    margin: 0;
    line-height: 30px;
    font-size: 22px;
  }
}
/* :::::FORSIDE:::::*/
$transitionTime: .3s;
.frontpage{
  padding-top: 50px;
  max-height: 100vh;
  overflow: auto;
  div{
    z-index: 200;
  }
  &:empty {
    display: none;
  }
  .fadeaway {
    opacity: 1;
    top: 80px!important;
    transition: opacity 0.2s ease-in, top $transitionTime linear;
    h5, button {
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
  }
  &.out{
    transition: margin-top $transitionTime linear, opacity $transitionTime;
    margin-top: 20vh;
    .ecipe-cards{
      opacity: 0;
    }
  }
}
/*:::::Foodplan Draw:::::*/
.foodPlan-draw{
  top: 0;
  transition: transform $transitionTime linear;
  &.in {
    position: fixed;
    transform: translateY(-25vh);
  }
  &.out {
    transform: translateY(0);
  }
}

/*:::::SAMMENLIGN-SIDE:::::*/
.foodplan-build-list{
    top:25vh;
    left: 0;
    right: 0;
    bottom: 10vh;
    background: #fff;
    z-index: 101;
  .body {
    h5,h6 {
      margin: 0;
    }
    .bulkSelector {
      height: 28px;
      width: 28px;
      border-radius: 14px;
      background: #efefef;

      h5{
        line-height: 28px;
      }
    }
    .checkbox {
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background: #efefef;
    }
  }
  &:empty {
    display: none;
  }
}

.carousel{
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  height: 100%; /*ikke vh da den i chrome er uden urlbar*/
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 100;
  .previewRecipe {
    outline: none;
  }
  .previewRecipe-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
  }
}
.carousel--next-prev {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background:#efefef;
}




.bulkPickerWrapper{
  position: relative;
  .bulkPicker{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 10;
    ul {
      position: absolute;
      margin-left: -10px;
      left: 0;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      list-style-type: none;
    }
    li {
      float: left;
      width:10vw;
      height: 100%;

      text-align: center;
      &.itemslide-active
      {
        /*applied to current active item*/
        -webkit-transform:  scale(1);
        -ms-transform:  scale(1);
        -moz-transform:  scale(1);
        transform: scale(1);
      }
  }
}
}
